<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>

<div class="d-flex" id="wrapper">
    <div th:insert="fragments.html::sidebar"></div>
    <div id="page-content-wrapper">
        <div th:insert="fragments.html::navbar"></div>

        <div class="container-fluid">
            <p>This is Admin\Index. Only people with role_admin can see this.</p>
        </div>
    </div>
</div>

<div th:insert="fragments.html::togglemenu"></div>

</body>
</html>