<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body ng-app="app" ng-controller="GroupController as vm">
<div class="d-flex" id="wrapper">
    <div th:insert="fragments.html::sidebar"></div>
    <div id="page-content-wrapper">
        <div th:insert="fragments.html::navbar"></div>

        <div class="container-fluid">
            <table id="tableTasks" class="table-bordered table-striped" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Owners</th>
                    <th>Tasks</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="group in vm.groups">
                    <td>{{group.groupName}}</td>
                    <td>{{group.id}}</td>
<!--                    <td>{{group.participants}}</td>-->
                    <td>{{vm.setUserNames(group.participants)}}</td>
                    <td>{{vm.setTaskNames(group.tasks)}}</td>
                    <td>
                        <button class="btn btn-outline-success" ng-click="vm.inspectGroup(group.id)">Inspect</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-success" ng-click="vm.leaveGroup(group.id)">Leave</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="formGroup">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Create new group</h4>
                    </div>


                    <div>
                        <form>
                            <label style="width:100px;">Group name</label><input type="text" name="titleInput" id="groupNameInput" placeholder="title" required><br>
                            <button class="btn btn-success btn-lg btn-block" ng-click="vm.createGroup()">Create group!</button>
                        </form>
                    </div>


                </div>
            </div>
            <div id="formGroup2">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Add participant to group</h4>
                    </div>


                    <div>
                        <form>
                            <label style="width:100px;">Group name</label>
                            <select id="newParticipantSelect">
                                <option ng-repeat="group in vm.groups" value="{{group.id}}">{{group.groupName}}</option>
                            </select><br>
                            <label style="width:100px;">Group name</label>
                            <input type="text" id="participantInput" placeholder="User name" required>
                            <button class="btn btn-success btn-lg btn-block" ng-click="vm.addParticipant()">Add participant!</button>
                        </form>
                    </div>


                </div>
            </div>
            <div id="formGroup3">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Delete participant from group</h4>
                    </div>


                    <div>
                        <form>
                            <label style="width:100px;">Group name</label>
                            <select id="deleteParticipantGroupSelect" ng-change="vm.getOwners()" ng-model="myValue">
                                <option ng-repeat="group in vm.groups" value="{{group.id}}">{{group.groupName}}</option>
                            </select><br>
                            <label style="width:100px;">Participant to delete</label>
                            <select id="deleteParticipantselect">
                                <option ng-repeat="owner in vm.owners">{{owner}}</option>
                            </select> <br>
                            <button class="btn btn-success btn-lg btn-block" ng-click="vm.deleteParticipant()">Delete participant!</button>
                        </form>
                    </div>


                </div>
            </div>
            <div id="formGroup4">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Add group task</h4>
                    </div>


                    <div>
                        <form>
                            <label style="width:100px;">Group name</label>
                            <select id="newTaskGroupSelect" ng-change="vm.getOwners()" ng-model="myValue">
                                <option ng-repeat="group in vm.groups" value="{{group.id}}">{{group.groupName}}</option>
                            </select><br>
                            <label style="width:100px;">Title</label><input type="text" name="titleInput" id="titleInput" placeholder="title" required><br>
<!--                            <label style="width:100px;">Description</label><input type="text" name="descInput" id="descInput" placeholder="description"><br>-->
                            <label style="width:100px;">Deadline</label><input type="date" name="endDate" id="endDate" required><br>
                            <button class="btn btn-success btn-lg btn-block" ng-click="vm.addTask()">Add task!</button>
                        </form>
                    </div>


                </div>
            </div>
            <div id="formGroup5">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Delete task from group</h4>
                    </div>


                    <div>
                        <form>
                            <label style="width:100px;">Group name</label>
                            <select id="deleteTaskGroupSelect" ng-change="vm.getTasks()" ng-model="myValue">
                                <option ng-repeat="group in vm.groups" value="{{group.id}}">{{group.groupName}}</option>
                            </select><br>
                            <select id="deleteTaskSelect">
                                <option ng-repeat="task in vm.tasks">{{task}}</option>
                            </select> <br>
                            <button class="btn btn-success btn-lg btn-block" ng-click="vm.deleteTask()">Delete task!</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
<div th:insert="fragments.html::togglemenu"></div>
</body>
</html>