<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">no siema</h1>
        <p class="lead">To jest strona główna na razie może używajmy jej jako listy zadań</p>
        <hr class="my-4">
        <p>login i register nie sa na maxa po prawej nk to naprawi znajdziecie go w /src/main/resources/templates/fragments.html
        login i haslo do admina to admin/admin</p>
    </div>
</div>
</body>
</html>