<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>

<div class="d-flex" id="wrapper">
    <div th:insert="fragments.html::sidebar"></div>
    <div id="page-content-wrapper">
        <div th:insert="fragments.html::navbar"></div>

        <div class="jumbotron-fluid" style="margin: 20px auto;">
            <h1 class="display-4">no siema</h1>
            <p class="lead">To jest strona główna na razie może używajmy jej jako listy zadań</p>
            <hr class="my-4">
            <p>login i hasło to admin/admin, możecie też sobie zrobić nowe konto</p>
            <p>[[${#httpServletRequest.remoteUser}]]</p>
        </div>



    </div>
</div>

<div th:insert="fragments.html::togglemenu"></div>

</body>
</html>