<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body style="background: #929c9c;">

<div class="register-form">
        <h2>Register</h2>
        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
            <fieldset>

                <div class="form-group">
                    <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Username" required="required">
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="E-mail" >
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="txtPassword" th:field="*{password}" placeholder="Password" required="required">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                </div>

                <div class="form-group">
                    <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Register now</button>
                </div>
            </fieldset>
        </form>
        <div class="text-center">Already have an account? <a href="#" th:href="@{~/login}">Sign in</a></div>
    </div>
</body>
</html>