<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body ng-app="app" ng-controller="TaskController as vm">

<div class="d-flex" id="wrapper">
    <div th:insert="fragments.html::sidebar"></div>
    <div id="page-content-wrapper">
        <div th:insert="fragments.html::navbar"></div>

        <div class="container-fluid">

            <div class="btn-group" role="group" id="taskButtons">
                <button ng-click="vm.setDone(0)" type="button" class="btn" id="getBothdonebtn">All</button>
                <button ng-click="vm.setDone(1)" type="button" class="btn" id="getDonebtn">Done</button>
                <button ng-click="vm.setDone(2)" type="button" class="btn" id="getUndonebtn">Undone</button>
            </div>
            <div class="btn-group" role="group" id="taskButtons2">
                <button ng-click="vm.setTime(0)" type="button" class="btn" id="getAlltimebtn">All</button>
                <button ng-click="vm.setTime(1)" type="button" class="btn" id="getWeekbtn">This week</button>
                <button ng-click="vm.setTime(2)" type="button" class="btn" id="getMonthbtn">This month</button>
                <button ng-click="vm.setTime(3)" type="button" class="btn" id="getYearbtn">This year</button>
            </div>
            <div class="btn-group" role="group" id="taskButtons3">
                <button ng-click="vm.setGroup(0)" type="button" class="btn" id="getAlltasksbtn">All</button>
                <button ng-click="vm.setGroup(1)" type="button" class="btn" id="getMytasksbtn">My</button>
                <button ng-click="vm.setGroup(2)" type="button" class="btn" id="getGrouptasksbtn">Group</button>
            </div>


            <table id="tableTasks" class="table-responsive-md table-bordered table-striped" width="100%">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>ID</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Done?</th>
                    <th>Owners</th>
                    <th style="width: 90px">Toggle</th>
                    <th style="width: 90px">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in vm.tasks">
                    <td>{{task.taskName}}</td>
                    <td>{{task.id}}</td>
                    <td>{{task.startDate}}</td>
                    <td>{{task.endDate}}</td>
                    <td>{{task.isDone}}</td>
                    <td>{{vm.test(task.ownerIds)}}</td>
                    <td>
                        <button class="btn btn-outline-success" ng-click="vm.toggle(task.id)">Toggle</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" ng-click="vm.deleteTask(task.id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div id="formTask">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Add new Task</h4>
                    </div>


                    <div>
                        <form>
                            <label style="width:100px;">Title</label><input type="text" name="titleInput" id="titleInput" placeholder="title" required><br>
<!--                            <label style="width:100px;">Description</label><input type="text" name="descInput" id="descInput" placeholder="description"><br>-->
                            <label style="width:100px;">Deadline</label><input type="date" name="endDate" id="endDate" required><br>
                            <button class="btn btn-success btn-lg btn-block" ng-click="vm.addTask()">Add task!</button>
                        </form>
                    </div>


                </div>
            </div>
            <div id="formTask2">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Add owner to task</h4>
                    </div>


                    <div>
                        <form>
                            <label style="width:100px;">Title</label>
                            <select id="newOwnerselect">
                            <option ng-repeat="task in vm.tasks" value="{{task.id}}">{{task.taskName}}</option>
                        </select> <br>
                            <label style="width:100px;">User name</label><input type="text" id="newOwnerName" placeholder="New owner name"><br>
                            <button class="btn btn-success btn-lg btn-block" ng-click="vm.addOwner()">Add owner!</button>
                        </form>
                    </div>


                </div>
            </div>
            <div id="formTask3">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Delete owner from task</h4>
                    </div>


                    <div>
                        <form>
                            <label style="width:100px;">Title</label>
                            <select ng-change="vm.getOwners()" ng-model="myValue" id="deleteOwnerTaskselect">
                                <option ng-repeat="task in vm.tasks" ng-value="{{task.id}}">{{task.taskName}}</option>
                            </select> <br>
                            <label style="width:100px;">Owner to delete</label>
                            <select id="deleteOwnerselect">
                                <option ng-repeat="owner in vm.owners">{{owner}}</option>
                            </select> <br>
                            <button class="btn btn-success btn-lg btn-block" ng-click="vm.deleteOwner()">Delete owner!</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments.html::togglemenu"></div>

</body>
</html>